input[type="search"]{
    width:100%;
    padding:12px 20px;
    border-radius:25px;
    border: 1px solid #ddd;
    transition: .3s;
}

input[type="search"]:focus{
    border:1px solid #9E9E9E;
    outline: none;
}