:host {
    display: block;
    box-shadow: 0 0px 2px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    border-radius: 3px;
    cursor: pointer;
    transition: 0.3s;
    background-color: #fff;
    }
:host:hover{
        box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
    }
.image-container{
    height: 324px;
}
img{
    width:100%;
    object-fit: cover;
    max-height: 324px;
    border-radius: 3px 3px 0px 0px;
}
h3{
    font-weight: 600;
    text-align: center;
    line-height: 3;
    color:#222;
}