*{
    margin: 0px;
    padding: 0px;
}

body{
    background-color: white;
    font-family: 'Poppins','sans-serif';
}

.container{
    width: 70%;
    margin: 0 auto;
}
button{
    padding:12px;
    min-width: 80px;
    background-color: turquoise;
    border:0px;
    font-weight: bold;
    transition: .2s ease;
    border-radius: 25px;
    border-radius: 3px;
    box-shadow: 0 0px 2px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}
button:hover{
    padding:12px;
    min-width: 80px;
    background-color: #222;
    cursor: pointer;
    border:0px;
    font-weight: bold;
    color:#fff;
}